# Search Campaign Analysis & Metrics

#### Author : Nicodemus Naisau

<img src="https://cdn2.hubspot.net/hubfs/53/ecommerce%20marketing.jpg"
     alt="ecommerce img assets"
     style="float: center" />

## Import Liblary

In [1]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
from matplotlib.gridspec import GridSpec
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from plotly import tools
import colorlover as cl 

from pathlib import Path
from datetime import date

import warnings
warnings.filterwarnings("ignore")

## Read Data

In [2]:
ecommerce = pd.read_csv('com_dataset.csv')

In [3]:
ecommerce

,Ad Group,Month,Impressions,Clicks,CTR,Conversions,Conv Rate,Cost,CPC,Revenue,Sale Amount,P&L
0,Shop - 1:1 - Desk - [shop coupon code],July,16038,6504,0.41,1166,0.10,6669,1.03,6402,136770.05,-267.086
1,Shop - 1:1 - Desk - [shop coupon],July,36462,14367,0.39,2188,0.09,13746,0.96,13262,283215.21,-483.951
2,Shop - 1:1 - Desk - [shop discount code],July,3635,1458,0.40,248,0.09,1606,1.10,1723,39165.46,117.136
3,Shop - 1:1 - Desk - [shop promo code],July,26185,10418,0.40,2294,0.12,13278,1.27,13042,284823.48,-235.921
4,Shop - 1:1 - Desk - [shop promo],July,808,282,0.35,61,0.15,391,1.39,337,7717.77,-53.604
...,...,...,...,...,...,...,...,...,...,...,...,...
185,Shop - Exact - Desk - Black Friday/Cyber Monday,November,257,24,0.09,7,0.28,3,0.14,45,898.80,41.946
186,Shop - 1:1 - Desk - [shop discount code],November,7254,2725,0.38,512,0.11,3182,1.17,3227,66672.29,45.468
187,Shop - Exact - Desk - Coupon Code,November,18526,5553,0.30,919,0.10,5982,1.08,6047,129556.90,64.552
188,Shop - Exact - Mob - Black Friday/Cyber Monday,November,3662,266,0.07,24,0.09,44,0.17,160,3268.63,115.963
189,Shop - Exact - Desk - Promo Code,November,25592,7726,0.30,1731,0.14,10914,1.41,11223,236665.59,308.975

## Cleaning Data

### Missing Value

In [4]:
ecommerce.isna().sum()

Ad Group       0
Month          0
Impressions    0
Clicks         0
CTR            0
Conversions    0
Conv Rate      0
Cost           0
CPC            0
Revenue        0
Sale Amount    0
P&L            0
dtype: int64

After checking on dataset, it does not find missing values.

## Identify Duplicate Data & Descriptive Statistics

### Identify Duplicate Data

In [5]:
ecommerce[ecommerce.duplicated(keep='first')]

Empty DataFrame
Columns: [Ad Group, Month, Impressions, Clicks, CTR, Conversions, Conv Rate, Cost, CPC, Revenue, Sale Amount, P&L]
Index: []

After checking on dataset, it does not find duplicate values.

### Statistic info

In [6]:
ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ad Group     190 non-null    object
 1   Month        190 non-null    object
 2   Impressions  190 non-null    int64
 3   Clicks       190 non-null    int64
 4   CTR          190 non-null    float64
 5   Conversions  190 non-null    int64
 6   Conv Rate    190 non-null    float64
 7   Cost         190 non-null    int64
 8   CPC          190 non-null    float64
 9   Revenue      190 non-null    int64
 10  Sale Amount  190 non-null    float64
 11  P&L          190 non-null    float64
dtypes: float64(5), int64(5), object(2)
memory usage: 17.9+ KB

## Manipulation

In [7]:
# split the "ad_group" column by " - " and create new columns
ecommerce[["name_store", "keyword_match", "device_type", "landing_page"]] = ecommerce["Ad Group"].str.split(" - ", expand=True)

In [8]:
ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ad Group       190 non-null    object
 1   Month          190 non-null    object
 2   Impressions    190 non-null    int64
 3   Clicks         190 non-null    int64
 4   CTR            190 non-null    float64
 5   Conversions    190 non-null    int64
 6   Conv Rate      190 non-null    float64
 7   Cost           190 non-null    int64
 8   CPC            190 non-null    float64
 9   Revenue        190 non-null    int64
 10  Sale Amount    190 non-null    float64
 11  P&L            190 non-null    float64
 12  name_store     190 non-null    object
 13  keyword_match  190 non-null    object
 14  device_type    190 non-null    object
 15  landing_page   190 non-null    object
dtypes: float64(5), int64(5), object(6)
memory usage: 23.9+ KB

In [9]:
ecommerce.head()

,Ad Group,Month,Impressions,Clicks,CTR,Conversions,Conv Rate,Cost,CPC,Revenue,Sale Amount,P&L,name_store,keyword_match,device_type,landing_page
0,Shop - 1:1 - Desk - [shop coupon code],July,16038,6504,0.41,1166,0.10,6669,1.03,6402,136770.05,-267.086,Shop,1:1,Desk,[shop coupon code]
1,Shop - 1:1 - Desk - [shop coupon],July,36462,14367,0.39,2188,0.09,13746,0.96,13262,283215.21,-483.951,Shop,1:1,Desk,[shop coupon]
2,Shop - 1:1 - Desk - [shop discount code],July,3635,1458,0.40,248,0.09,1606,1.10,1723,39165.46,117.136,Shop,1:1,Desk,[shop discount code]
3,Shop - 1:1 - Desk - [shop promo code],July,26185,10418,0.40,2294,0.12,13278,1.27,13042,284823.48,-235.921,Shop,1:1,Desk,[shop promo code]
4,Shop - 1:1 - Desk - [shop promo],July,808,282,0.35,61,0.15,391,1.39,337,7717.77,-53.604,Shop,1:1,Desk,[shop promo]

# Export Data

In [10]:
ecommerce.to_excel('CoM_search_campaign.xlsx', index=False)